<header>
    <nav>
        <ul>
            <li>
                <a href="/" >Home</a>
            </li>
            <li>
                <a href="/create">Create User</a>
            </li>
            <li>
                <a href="/edit">Edit User</a>
            </li>
        </ul>
    </nav>
</header>
