

    <div class="form-add-new">
        <form action="/create" method="post">
            <fieldset>
                <legend>Form add new Users</legend>
            <div class="input-group">
                    <label for="email">Email  </label>
                    <input type="text" name="email" id ="email"/>
    
            </div>
            <div class="input-group">
                <label for="name">Name  </label>
                    <input type="text" id="name" name="name"/>
            </div>
            <div class="input-group">
                <label for="city"> City  </label>
                <input type="text" name="city" id="city"/>
            </div>
           <div class="btnContainer">
            <button class="btnSubmit">Submit</button>
           
           </div>
        </form>

    </div>
